.About {
    background-color: #61248a;
    color: #fff;
    text-align: center;
    height: 350px;
    padding: 50px 10px 0 10px;
}

.About h2 {
    margin-bottom: 20px;
}

.About p {
    max-width: 650px;
    margin: auto;
    line-height: 30px;
}